In [16]:
# 1. Compress a string using character counts.
# Input: "aabbbcc" → Output: "a2b3c2"
s=input()
print(s)
res=''
for i in s:
    if i not in res:
        a=s.count(i)
        res+=i+str(a)
print(res)

aabbbcc
a2b3c2

In [106]:
# 2. Convert a string to title case without using .title().
# Input: "python is fun" → Output: "Python Is Fun"
# s=input()
s=input()
print(s)
s1=s.split()
res=""
for i in s1:
    res+=i.capitalize()+" "
a="".join(res)
print(res)

python is fun
Python Is Fun

In [105]:
# 3. Check whether two strings are anagrams of each other.
s1,s2=map(str,input().split())
print(s1,s2)
d={}
d1={}
for i in s1:
    d[i]=s1.count(i)
for i in s2:
    d1[i]=s2.count(i)
if d==d1:
    print("yes")
else:
    print("no")

act cat
yes

In [108]:
# 4. Convert a string "1a2b3c" to "abc123".
s="1a2b3c"
res=""
res1=""
for i in s:
    if i.isalpha():
        res+=i
    else:
        res1+=i
print(res+res1)

abc123

In [90]:
# 5. Extract all numbers from a string and calculate their sum.
#  "abc12xyz34" → Output: 46
s="abc12xyz34"
res=0
for i in range(len(s)-1):
    if s[i].isdigit() and s[i+1].isdigit():
        res+=int(s[i]+s[i+1])
print(res)

46

In [112]:
# 6. Sort a list in ascending and descending order with out using sort?
import copy
l1=[1,4,2,3]
print(l1)
l=copy.copy(l1)
for i in range(len(l)-1):
    if l[i]>l[i+1]:
        l[i],l[i+1]=l[i+1],l[i]
print("ascending order",l)
for j in range(len(l1)-1):
    if l1[j]<l1[j+1]:
        l1[j],l1[j+1]=l1[j+1],l1[j]
print("descending order",l1)

[1, 4, 2, 3]
ascending order [1, 2, 3, 4]
descending order [4, 2, 3, 1]

In [76]:
# 7. Find the second largest number in a list.
l=[1,4,2,3]
print(l)
l.remove(max(l))
print("second largest number",max(l))

[1, 4, 2, 3]
second largest number 3

In [75]:
# 8. Find the intersection and union of two lists.
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]
# intersection
res=[]
for i in l1:
    if i in l2:
        res.append(i)
print("intersection",res)
# union
a=l1+l2
res1=[]
for i in a:
    if i not in res1:
        res1.append(i)
print("union",res1)

intersection [4, 5, 6]
union [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# 9. Print all prime numbers from a list.
l=[1,4,2,6,9,5,7,3,8]
print(l)
def is_prime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True
for i in l:
    if is_prime(i):
        print(i,end=" ")

[1, 4, 2, 6, 9, 5, 7, 3, 8]
2 5 7 3

In [57]:
# 10. Find if a number is Armstrong or not.
n=153
print(n)
n1=str(n)
res=0
for i in n1:
    dig=n%10
    n//=10
    res+=dig**(len(n1))
if res==int(n1):
    print("amstrong NUmber")
else:
    print("Not an amstrong number")

153
amstrong NUmber

In [41]:
# 11. Count number of vowels in a string using while.
s=input()
print(s)
count=0
i=0
while i<len(s):
    if s[i] in "AEIOUaeiou":
        count+=1
    i+=1
print(count)

srihari
3

In [32]:
# 12. Print multiplication table in reverse order.
n=int(input())
for i in range(10,0,-1):
    print(f"{n} * {i} = {n*i}")

3 * 10 = 30
3 * 9 = 27
3 * 8 = 24
3 * 7 = 21
3 * 6 = 18
3 * 5 = 15
3 * 4 = 12
3 * 3 = 9
3 * 2 = 6
3 * 1 = 3

In [88]:
# 13. Count how many times digit 7 appears between 1 to 100.
count=0
for i in range(1,100):
    if "7" in str(i):
        count+=1
print(count)

19

In [26]:
# 14. Create a countdown timer (like 10 → 0) using while loop.
import time as t
i=10
while i>=0:
    a=t.sleep(1)
    print(i,end=' ')
    i-=1

10 9 8 7 6 5 4 3 2 1 0

In [83]:
# 15. Replace all negative numbers in a list with 0. Using list comprehention?
l=[1,2,-1,-3,5,-6]
print(l)
print([i if i>0 else 0 for i in l])

[1, 2, -1, -3, 5, -6]
[1, 2, 0, 0, 5, 0]

In [82]:
# 16. Write Function to check if a list is sorted or not.
l=[2,3,4,5,6]
m=[2,3,4,1]
def sort(l):
    for i in range(len(l)-1):
        if l[i]>l[i+1]:
            print("Not sorted")
            break
    else:
        print("sorted")
print(l)
sort(l)
print(m)
sort(m)

[2, 3, 4, 5, 6]
sorted
[2, 3, 4, 1]
Not sorted

In [80]:
# 17. Sort a dictionary by values
d={'a':100,'b':80,'c':90}
print(d)
print("Sorted dictionary by values",sorted(d.values()))

{'a': 100, 'b': 80, 'c': 90}
Sorted dictionary by values [80, 90, 100]

In [78]:
# 18. Store student names and marks in a dictionary and print each student’s result.
d={'a':70,'b':80,'c':90}
print(d)
for i,j in d.items():
    print(i,j)

{'a': 70, 'b': 80, 'c': 90}
a 70
b 80
c 90

In [8]:
# 19. Write a lambda function that takes two numbers and returns a tuple containing:
    # i. Their sum
    # ii. Their product
    # iii. Their difference
a=lambda x,y: (x+y ,x*y , x-y)
print(a(5,2))

(7, 10, 3)